body {
  font-size: 1.2em;
}

#app {
  width: 90%;
  margin: auto;
}

img {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template: repeat(47, 55px) / repeat(12, 1fr);

  width: 900px;
  margin: auto;
}

/* set 1: repurposed living */
.a {
  grid-area: 1 / 3 / 11 / 13; 
}

.b {
  grid-area: 1 / 2 / 2 / 8;
}

.c {
  grid-area: 2 / 2 / 4 / 7;
}

/* set 2: angles */

.d {
  grid-area: 9 / 1 / 21 / 7; 
}

.e {
  grid-area: 13 / 6 / 14 / 13;
}

.f {
  grid-area: 14 / 6 / 15 / 13;
}

/* set 3: pattern play */

.g {
  grid-area: 19 / 3 / 29 / 13;
}

.h {
  grid-area: 23 / 2 / 25 / 7;
}

.i {
  grid-area: 24 / 2 / 26 / 6;
}

/* set 4: healing house */

.j {
  grid-area: 27 / 1 / 39 / 7;
}

.k {
  grid-area: 32 / 6 / 33 / 13;
}

.l {
  grid-area: 33 / 6 / 34 / 13;
}

/* set 5: curved perfection */

.m {
  grid-area: 37 / 3 / 47 / 13;
}

.n {
  grid-area: 42 / 2 / 43 / 13; 
}

.o {
  grid-area: 43 / 2 / 44 / 13; 
}

.headLine {
  margin-top: 5vh;
  height: 20vh;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 120%;
  margin-bottom: 10vh;
}

.box {
  font-family: 'Roboto Slab', serif;
  font-size: 90%;
}

.title {
  font-weight: 700;
  font-size: 180%;
  font-family: 'Playfair Display', serif;
  text-decoration: underline;
}

/* media queries */ 

@media (min-width: 1150px) {
  #app {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 650px) {
  .grid {

  }
  
  .title {
    width: 65%;
    font-size: 120%;
  }
}
