body {
  font-size: 1.2em;
}

#app {
  width: 90%;
  margin: auto;
}

img {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(12, 1fr);

  width: 2000x;
  margin: auto;
}

/* set 1: repurposed living */
.a {
  grid-area: 1 / 3 / 5 / 13; 
  border: 1px solid black;
}

.b {
  grid-area: 1 / 2 / 2 / 4;
}

.c {
  grid-area: 2 / 2 / 3 / 6;
}

/* set 2: angles */

.d {
  grid-area: 4 / 1 / 9 / 7; 
  border: 1px solid black;
}

.e {

}

.f {

}

/* set 3: pattern play */

.g {
  grid-area: 8 / 3 / 12 / 13;
  border: 1px solid black;
}

.h {

}

.i {

}

/* set 4: healing house */

.j {
  grid-area: 11 / 1 / 16 / 7;
  border: 1px solid black;
}

.k {

}

.l {

}

/* set 5: curved perfection */

.m {
  grid-area: 15 / 3 / 19 / 13;
  border: 1px solid black;
}

.n {

}

.o {

}

.headLine {
  margin-top: 5vh;
  height: 20vh;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 120%;
  margin-bottom: 10vh;
}

.box {
  font-family: 'Roboto Slab', serif;
  font-size: 90%;
}

.title {
  font-weight: 700;
  font-size: 180%;
  font-family: 'Playfair Display', serif;
  text-decoration: underline;
}

/* media queries */ 

@media (min-width: 1150px) {
  #app {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 650px) {
  .grid {

  }
  
  .title {
    width: 65%;
    font-size: 120%;
  }
}


/* TEMP */
.e, .f, .h, .i, .k, .l, .n, .o {
  display: none;
}